@import url('https://fonts.googleapis.com/css2?family=Modak&family=Rubik:wght@400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
	box-sizing: border-box;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Rubik';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: rgb(240, 233, 224);
}

.nav{
	background-color: rgb(204, 83, 52);
	height: 65px;
}

.burger-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 3%;
}

.ul{
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(204, 83, 52);
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	height: 1px;
	transition: opacity 0.75s, visibility 0.75s, height 0.75s;
}

.ul.toggle{
	opacity: 1;
	visibility: visible;
	height: 100vh;
	display: flex;
	font-size: 2rem;
}

.ul.toggle li{
	margin: 2%;
	cursor: pointer;
}

li:hover{
	background-color: rgb(249, 249, 140);
	width: 100%;
	text-align: center;
}

.logo-container{
	height: 300px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.logo{
	max-width:100%;
	max-height:100%;
}

.btn-container-home{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5%;
}

button{
	height: 3rem;
	width: 80%;
	background-color: rgb(238, 187, 69);
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bolder;
	cursor: pointer;
}

.btn-logo{
	box-shadow: 1px 0px 5px rgb(7, 7, 7);
	display: inline-block;
	background-color: rgb(238, 187, 69);
	border-radius: 50%;
	padding: 1rem;
	position: relative;
	left: .7rem;
}

.acct-mgr-header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-header{
	font-family: 'Rubik';
	color: white;
	padding: 5%;
	border: 1px solid black;
	width: 80%;
	height: 4rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 5%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgb(204, 83, 52);
}

.menu-body{
	width: 80%;
	border: 1px solid black;
	border-top: none;
	margin: 0 auto;
	padding: 5%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu-item{
	font-family: 'Rubik';
	padding: 3%;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: 1px dashed black;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.menu-price{
	font-family: 'Rubik';
	font-size: 1.3rem;
	color:  rgb(204, 83, 52);
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}
