@import url('https://fonts.googleapis.com/css2?family=Modak&family=Rubik:wght@400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
	box-sizing: border-box;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Rubik';

}
ol, ul {
	list-style: none;
}

input:focus{
	outline: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-color: rgb(240, 233, 224);
}

.nav{
	background-color: rgb(204, 83, 52);
	height: 65px;
}

.burger-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin: 0 3%;
}

.ul{
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(204, 83, 52);
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	height: 1px;
	transition: opacity 0.75s, visibility 0.75s, height 0.75s;
}

.ul.toggle{
	opacity: 1;
	visibility: visible;
	height: 100vh;
	display: flex;
	font-size: 2rem;
}

.ul.toggle li{
	margin: 2%;
	cursor: pointer;
}

li:hover{
	background-color: rgb(249, 249, 140);
	width: 100%;
	text-align: center;
}

.logo-container{
	height: 300px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

.logo{
	max-width:100%;
	max-height:100%;
}

.btn-container-home{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5%;
}

button{
	height: 3rem;
	width: 80%;
	background-color: rgb(238, 187, 69);
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bolder;
	cursor: pointer;
}

.btn-logo{
	box-shadow: 1px 0px 5px rgb(7, 7, 7);
	display: inline-block;
	background-color: rgb(238, 187, 69);
	border-radius: 50%;
	padding: 1rem;
	position: relative;
	left: .7rem;
}

.acct-mgr-header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-header{
	font-family: 'Rubik';
	color: white;
	padding: 5%;
	border: 1px solid black;
	width: 80%;
	height: 4rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 5%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgb(204, 83, 52);
}

.menu-body{
	width: 80%;
	border: 1px solid black;
	border-top: none;
	margin: 0 auto;
	padding: 5%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu-item{
	font-family: 'Rubik';
	padding: 3%;
	text-align: center;
	font-size: 1rem;
	border-bottom: 1px dashed black;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.menu-price{
	font-family: 'Rubik';
	font-size: 1.3rem;
	color:  rgb(204, 83, 52);
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.food-form{
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10%;
	width: 80%;
	height: 325px;
	margin: 10% auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.food-input{
	width: 80%;
	height: 2rem;
	margin: 2% 0;
	border: none;
	border-bottom: 1px solid black;
}

.food-btn{
	background-color: rgb(238, 187, 69);
	border-radius: 5px;

}

.close-form{
	display: flex;
	/* width: 100%; */
	align-self: flex-end;
	font-size: 1.3rem;
}

.update-truck-btn{
	width: 50%;
	border-radius: 10px;
	margin: 3%;
}

.basic-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	width: 80%;
	padding: 5%;
	border: 1px solid black;
	margin: 3% auto;
}

.basic-form button{
	margin-top: 3%;
	border-radius: 10px;
}

.basic-form input{
	color: rgb(179, 188, 194);
	height: 2.5rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgb(62, 75, 96);
	margin: 3% 0;
	width: 60%;
}

.form-container{
	color: rgb(179, 188, 194);
	background: rgb(53,66,89);
	background: linear-gradient(rgba(53,66,89,1) 0%, rgba(4,53,72,1) 100%);
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login-register-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500px;
	width: 101%;
}

.login-register-form button{
	border-radius: 10px;
}

.form-img-container{
	width: 60%;
	margin: 0 auto;
}

img{
	max-width: 100%;
	max-height: 100%;
}

.login-register-form input{
	color: rgb(179, 188, 194);
	height: 2.5rem;
	background-color: transparent;
	border: none;
	border-top: 1px solid rgb(62, 75, 96);
	border-bottom: 1px solid rgb(62, 75, 96);
	margin: 3% 0;
	width: 60%;
}

.login-register-form input::placeholder{
	color: rgb(179, 188, 194);
}

/* Spinner */


.loader {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid;
	border-color: transparent #FF3D00 #FF3D00;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
  }
  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 
	  
  @keyframes rotationBack {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(-360deg);
	}
  }

.spinner{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} 

.contact-section{
	margin: 10% auto;
	text-align: center;
	width: 70%;
}

.contact-section button{
	border-radius: 10px;
}

.contact-section h1{
	font-size: 2rem;
	margin: 3%;
}

.contact-section > h1 + p {
	padding-bottom: 10%;
	border-bottom: 4px solid rgb(195, 188, 188);
}

.contact-section > h1 + p + p {
	padding: 10%;
}

.contact-form{
	border: 1px solid black;
	background-color: white;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	display: flex;
	flex-direction: column;
}

.contact-form label{
	display: block;
}

.contact-form button{
	border-radius: 10px;
	margin: 0 auto;
}

.contact-form input, .contact-form textarea{
	width: 100%;
	margin-bottom: 3%;
}